entrypoint = "server.js"
modules = ["nodejs-20"]
run = "npm start"

[gitHubImport]
requiredFiles = [".replit", "package.json"]

[deployment]
build = "npm run check"
run = "npm start"
deploymentTarget = "cloudrun"
